 Dict
 * use {}
 *key vale pair

In [5]:
dict1= {(1,2,3):("M","k","S"),"Age": 28}#(1,2,3,) is the key : ("M","k","S") is the values
print(dict1)
dict1.keys()

{(1, 2, 3): ('M', 'k', 'S'), 'Age': 28}

dict_keys([(1, 2, 3), 'Age'])

In [6]:
#adding new key and value
dict1["sal"] = [200,3000]
print(dict1)

{(1, 2, 3): ('M', 'k', 'S'), 'Age': 28, 'sal': [200, 3000]}

In [7]:
#Taking the keys and values in list
list1= list(dict1.keys())
print(list1)

#values
list2= list(dict1.values())
list2

[(1, 2, 3), 'Age', 'sal']

[('M', 'k', 'S'), 28, [200, 3000]]

In [8]:
elements = [1,2,3,4,5,6,7,8]
out=[]
for num in elements:
    out1=[]
    if num>5:
        out.append(num)
        out1.append(num)
        


out


out1

[8]

In [6]:
studentInfo = {
            "name":"Parag",
            "age":20,
            "phone":"9889777867",
            "address" : {
                        "Home":"Daadys",
                        "Office":"ECity"
                        }
            }



print(studentInfo.keys()) # will give the keys
studentInfo.values() # Will give all the values

studentInfo['name']
studentInfo['age']
studentInfo['address']
studentInfo['address']['Home']
studentInfo['address']['Office']


studentInfo1 = {
            ("name","Men"):"Parag",
            "age":20,
            "phone":["9889777867","346578865534"],
            "address" : {
                        "Home":"Daadys",
                        "Office":"ECity"
                        }
            }

studentInfo1[('name',"Men")] # key cannot be a list but can be a tuple

studentInfo1["phone"][1]

dict_keys(['name', 'age', 'phone', 'address'])

'346578865534'

In [14]:
months = { 1 : "January", 
          2 : "February", 
         3 : "March", 
        4 : "April", 
     5 : "May", 
     6 : "June", 
    7 : "July",
        8 : "August",
    9 : "September", 
    10 : "October", 
        11 : "November",
    12 : "December" }

In [15]:
months.keys()
del(months[1])

In [16]:
months.keys()

dict_keys([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [19]:
[print(x) for x in months] # what is this none???

2
3
4
5
6
7
8
9
10
11
12

[None, None, None, None, None, None, None, None, None, None, None]

In [25]:
for i, k in months.items(): #iteritems() can also be used
    print(i,k)

2 February
3 March
4 April
5 May
6 June
7 July
8 August
9 September
10 October
11 November
12 December

In [27]:
customers = [{"uid":1,"name":"John"},
             {"uid":2,"name":"Smith"},
             {"uid":3,"name":"Andersson"},
            ]
print(customers[0]["uid"], customers[0]['name'])
print(customers[1]["uid"])
print(customers[2]["uid"])
print(customers[0]['name'])
print(customers[1]['name'])
print(customers[2]['name'])

len(customers)

1 John
2
3
John
Smith
Andersson

3

In [28]:
for x in customers:
    print(x['uid'],x['name'])

1 John
2 Smith
3 Andersson

In [ ]:
customers1 = {
             "uid1":1,"name":"John",
             "uid2":2,"name":"Smith",
             "uid3":3,"name":"Andersson",
            }
            
print(customers1)
customers2 = {
             "uid1":1,"name":"John",
             "uid2":2,"name1":"Smith",
             "uid3":3,"name2":"Andersson",
            }

customers2
#key and value name should not be the same

In [29]:
Input1 = {'a': 100, 'b':200, 'c':300}

sum=0    
for i in Input1:
     sum=sum+ Input1[i]; print(i)
         
sum     #Doubt on iteration

a
b
c

600

In [8]:
import operator
operator.add(2,3)
sum([1,2,3])
operator.mul(2,3)

#lt(lessthan),le(less than equal to),gt,ge,eq,ne

6