
BOLEAN OPERATIONS

In [1]:
_a=2
print(_a)

numbers = [2, 3, 4]
print(numbers)

2
[2, 3, 4]

In [2]:
cat=4
cow=2

In [3]:
print (cow>1 and cat<1) # boolean operation here will give True or False

False

In [4]:
My_Age =int(input(" My age is  "))

if (My_Age<15):
      print ("you are Child")
elif  (My_Age>15) and (My_Age<25):
      print("you are Adult")
else:
      print("You are Old")

 My age is  5
you are Child

In [5]:
type(My_Age)

int

In [6]:
a, b, c = 5, 3.2, "Hello"
#a = 1; b = 2; c = 3

print (a)
print (b)
print (c)

5
3.2
Hello

# Constants

In [7]:
PI = 3.14
GRAVITY = 9.8
print(PI)

3.14

#Multi-line statement

In [13]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9          # line continuation character (\)
print(a)
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9) # []{} also can be used

45

##Range

In [14]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

#LIST AND TUPLE

In [15]:
lis= [1,2,3,4,5,6,7]
lis[:]
lis[0]=10
lis[:]

#mutable

[10, 2, 3, 4, 5, 6, 7]

In [17]:
Tup= (1,2,3,4,5,6,7)
Tup[:]
#Tup[0]=10 #'tuple' object does not support item assignment
Tup[:]
#immutable

(1, 2, 3, 4, 5, 6, 7)

#list [](mutable)  # tuple () #String #SET

In [18]:
s= {4,3,6,2,1,100,99,34,32,55}
print(s)
type(s)

{32, 1, 2, 3, 4, 100, 6, 99, 34, 55}

set

In [19]:
x={1,3,4,2,6,5,20,21,45}
print(x)

#set operations like union, intersection on two sets. Set have unique values. They eliminate duplicates.

sets = {1,2,3,3,3,5,6,3,4}
print (sets)
#'set' object does not support indexing

{1, 2, 3, 4, 5, 6, 45, 20, 21}
{1, 2, 3, 4, 5, 6}

In [20]:
d = {1:'value','key':2, 3.4: "floatin"}
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);
print("d[3.4] = ", d[3.4]);

# Generates error
#print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2
d[3.4] =  floatin

In [23]:
#To convert to dictionary, each element must be a pair

dict([[1,2],[3,4]])
{1: 2, 3: 4}
dict([(3,26),(4,44)])
{3: 26, 4: 44}

{3: 26, 4: 44}

In [24]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='\n', end='\n')
# Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output: 1#2#3#4&

1 2 3 4
1
2
3
4
1#2#3#4&

# Output formatting- str.format()

In [25]:
x=5; y=10
print('Second value {} is greater than first {}'.format(y,x))

print('i like {0} than {1}'.format('bread','wheat bread'))


print('Sudhi like {1} than {0}'.format('bread','wheat bread'))

Second value 10 is greater than first 5
i like bread than wheat bread
Sudhi like wheat bread than bread

In [26]:
 x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [28]:
#We can even use keyword arguments to format the string.

print('Hello {name}, {greetings}'.format(name="Aisha", greetings= 'Morning'))

Hello Aisha, Morning

In [32]:
 x = 12.3456789
print('The value of x is %3.2f' %x)

print('The value of x is %3.4f' %x)

The value of x is 12.35
The value of x is 12.3457

#eval() FUNCTION

In [33]:
eval('2+3+66.5+-66')
#int('2+3') error

5.5

#IMPORT

In [35]:
import math
print(math.pi)

3.141592653589793

In [34]:
import math as m
print(m.pi)

3.141592653589793

In [37]:
from math import pi
print(pi)

3.141592653589793

In [36]:
from math import *
print(e)
m.e

2.718281828459045

2.718281828459045

In [38]:
q1=2
q2=3

print(q1 is q2)
print(q1 is not q2)

False
True

In [39]:
a1= 'hellow'

print('h' in a1)
print('H' not in a1)

True
True

In [40]:
y = {1:'a',2:'b'}
print(1 in y)

True