#Python Decimal

In [1]:
w=1.1+2.2
print(w)

3.3000000000000003

In [12]:

from decimal import Decimal as D

print( D('1.1')+ D('2.2'))

3.3

In [2]:
import decimal 

print(decimal.Decimal('1.1')+ decimal.Decimal('2.2'))

3.3

#PYTHON FRACTION

In [28]:
import fractions

print(fractions.Fraction(5))
print(fractions.Fraction('1.1'))
print(fractions.Fraction(1.1))
print(fractions.Fraction(1,3))

5
11/10
2476979795053773/2251799813685248
1/3

In [34]:
from fractions import Fraction as F
print(F('1/3')+F('1/3'))
print(F(1,3)+F(1,3))
print(1/F('5/6'))
# Output: False
print(F(-3,10) > 0)

# Output: True
print(F(-3,10) < 0)

2/3
2/3
6/5

#Python Mathematics

In [ ]:
#NOT CLEAR

#RANDOM

In [130]:
"""*randint
*shuffle
*random
*sample
*choice
*randrange"""

import random

x=[1,2,3,4,5,6,7]

y= ['a', 'b', 'c', 'd', 'e']
random.shuffle(y)
print(y)
#print(random.shuffle(x)) #wrong
print(random.randint(2,3))
#random.randint(2,7)
print(random.random())
print(random.choice(y))
print(random.sample(x,3))
print(random.sample(y,3))
print (random.randrange(10,20))

['c', 'a', 'b', 'd', 'e']
2
0.9900876919974426
d
[1, 5, 6]
['a', 'b', 'c']
17

In [ ]:
""" randint,random.choice,shuffle,randrange"""  
*sample

In [ ]:
x=[1,2,3,4,5,6,7]

In [135]:
random.randint(2,3)

3

In [136]:
random.random()

0.9643150072563014

In [139]:
random.choice(x)

6

In [142]:
random.shuffle(x)
print(x)

[3, 7, 5, 2, 4, 1, 6]

In [153]:
random.randrange(10,15)

11

In [155]:
random.sample(x,3)

[6, 1, 7]

# #LIST -
NESTES LIST,SLICING,COUNT(),REMOVE,APPEND,EXTEND,+,[:],INSERT

In [159]:
L1=[1,2,3,4,5]
L2=[['a'],[1,2,3],67.9,"hellow"]

In [177]:
L2[3][0]
L1[0]=34
L1

[34, 2, 3, 4, 5]

In [169]:
my_list = ['p','r','o','b','e']
my_list[-1]

'e'

In [175]:
my_list11 = ['p','r','o','g','r','a','m','i','z']

print(my_list11[4:])

['r', 'a', 'm', 'i', 'z']

In [246]:
my_list.append('f')
my_list.extend(['g','h'])

In [188]:
#We can also use + operator to combine two lists. This is also called concatenation.
L1+[2,4,6,8]

[34, 2, 35, 3, 4, 5, 2, 4, 6, 8]

In [213]:
print("re "*3)
print(["re"] * 3)

re re re
['re', 're', 're']

In [192]:
L1

[34, 35, 35, 2, 35, 35, 3, 4, 5]

In [193]:

L1.insert(0,354)
L1

[354, 34, 35, 35, 2, 35, 35, 3, 4, 5]

In [194]:
L1[0:2]

[354, 34]

In [211]:
odd = [1, 9]
odd.insert(1,3)
# Output: [1, 3, 9] 
print(odd)
odd[3:3] = [5, 7,34]
# Output: [1, 3, 5, 7, 9]
print(odd)

[1, 3, 9]
[1, 3, 9, 5, 7, 34]

In [230]:
my_list.remove('g')# remove the first occurence
print(my_list)

['p', 'r', 'o', 'b', 'e', 'h', 'g', 'h', 'g', 'h', 'g', 'h', 'g', 'h']

In [231]:
my_list.count('g')

4

In [233]:
my_list = ['p','r','o','b','l','e','m']
# delete one item
del my_list[2]
# Output: ['p', 'r', 'b', 'l', 'e', 'm']     
print(my_list)
# delete multiple items
del my_list[1:5]  
# Output: ['p', 'm']
print(my_list)
# delete entire list
del my_list       
# Error: List not defined
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [237]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('r')
print(my_list)

['p', 'o', 'b', 'l', 'e', 'm']

In [240]:
my_list.pop(1)#index element is removed

'o'

In [241]:
my_list

['p', 'b', 'l', 'e', 'm']

In [242]:
my_list.pop() #If index not given last elemt will be automaticaly removed

'm'

In [244]:
my_list.clear()

In [245]:
print(my_list)

[]

>>> my_list = ['p','r','o','b','l','e','m']
>>> my_list[2:3] = []
>>> my_list
['p', 'r', 'b', 'l', 'e', 'm']
>>> my_list[2:5] = []
>>> my_list
['p', 'r', 'm']

In [252]:
my_list11 = ['p','r','o','g','r','a','m','i','z']
my_list11.sort()
my_list11

['a', 'g', 'i', 'm', 'o', 'p', 'r', 'r', 'z']

In [251]:
my_list11.reverse()
my_list11

['z', 'r', 'r', 'p', 'o', 'm', 'i', 'g', 'a']

In [253]:
my_list11

['a', 'g', 'i', 'm', 'o', 'p', 'r', 'r', 'z']

In [254]:
my_list11[::-1] #index reverse

['z', 'r', 'r', 'p', 'o', 'm', 'i', 'g', 'a']

In [257]:
list1= [1,2,3]
newlist=list1[:] # newlist.copy() will not affect the original list
list1.append("fdsg")
print(list1)
print(newlist)

[1, 2, 3, 'fdsg']
[1, 2, 3]

##TUPLE

In [263]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)   # Output: 3, 4.6, "dog" 

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)     
# 3
print(b)      # 4.6 
print(c)      # dog 

newenu= list(enumerate(my_tuple))
print(newenu)

(3, 4.6, 'dog')
3
4.6
dog
[(0, 3), (1, 4.6), (2, 'dog')]

In [ ]:
Built-in functions like all(), any(), enumerate(), len(), max(), min(), sorted(), tuple() etc.

In [261]:
enu = list(enumerate(my_tuple))
print(enu)

[(0, 3), (1, 4.6), (2, 'dog')]

##
Common Python String Methods, capitalize(),  lower(), upper(), join(), split(), find(), replace(),swapcase(),%

In [3]:
string2= "THE quick brown fox jumps over the lazy dog"
string3 ="1, 2, 3"
string2.lower()
string2.upper()
string2.capitalize()
#string2.split(sep= ' ')
string2.find('the')#Showing the position in the string
string2.replace('the','Your')
#string3.reversed()
String1="munna"

In [36]:
del String1

In [4]:
string2
string2.find('H')

1

In [6]:
s = "-";
seq = ("a", "b", "c"); # This is sequence of strings.
print( s.join( seq ))

a-b-c

In [7]:
fi="John"
la="Cena"
msg= f"{fi} {la} is a coder"
msg

'John Cena is a coder'

In [9]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John