# Sum of two numbers

In [1]:
num = int(input("Enter a number"))
num2 = int(input("Enter a number"))

Enter a number4
Enter a number6

In [2]:
def sum(a,b):
    return a+b

In [3]:
sum(num,num2)

10



# Factorial

In [4]:
def fact(n):
      return 1 if (n==1 or n==0) else n * fact(n - 1)

In [5]:
fact(4)

24


# Simple & Compund Interest

In [6]:
 p,r,t = 1200,2,5.4
si= (p*r*t)/100
si

129.6

In [7]:
#Comp.Equation = p(1 + r/100)^t
CompI= p*pow((1 + r/100),t)
CompI

1335.4332141502573

# Armstrong Number

In [8]:
x=153
s=x%10
s
c=x/10
c

15.3

In [9]:
start = 11
end = 25
  
for val in range(start, end + 1): 
      
   # If num is divisible by any number   
   # between 2 and val, it is not prime  
   if val > 1: 
       for n in range(2, val): 
           if (val % n) == 0: 
               break
       else: 
           print(val)

11
13
17
19
23

In [10]:
s=1
e=25
for r in range(s,e):
    if r>1:
        for n in range(2,r):
            if(r%n)==0:
                break
        else:
            print(r)

2
3
5
7
11
13
17
19
23

SWAP TWO NUMBERS IN A LIST

In [11]:
def swaptwo(l,p1,p2):
    f=list2[p1]
    s=len(list2)
    list2[p1]= list2[p2]
    list2[p2]= f
    print(list2)

In [12]:
list2=[23, 65, 19, 90]

In [13]:
swaptwo(list2,0,2)

[19, 65, 23, 90]

In [14]:
for i in list2:
    if i==19:
        print("elem")

elem

In [21]:
s=list(input("Enter a list"))
s

Enter a list123456789

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [22]:
print(*s, sep =",")

1,2,3,4,5,6,7,8,9

In [23]:

ini_list = ['a', 'b', 'c', 'd'] 
  
# Printing initial list with str 
print ("List with str", str(ini_list)) 
  
# Printing list using sep Method 
print (*ini_list, sep =', ')

List with str ['a', 'b', 'c', 'd']
a, b, c, d

In [24]:
ini_list[::-1]

['d', 'c', 'b', 'a']

In [28]:
Input=[12, 15, 3, 10]
for i in range (0, len(Input)):
    print(i)

0
1
2
3